rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /chat/{allPaths=**} {
      allow read, write: if signedIn();
    }

    match /stories/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /profile/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /avatars/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /{allPaths=**} {
      allow read, write: if signedIn();
    }
  }
}
